<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Wine</dt>
      <dd>
        <% if @listing.wine.present? %>
          <a href="/wines/<%= @listing.wine_id %>">
            <%= @listing.wine.image_url %>
          </a>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <% if @listing.location.present? %>
          <a href="/locations/<%= @listing.location_id %>">
            <%= @listing.location.name %>
          </a>
        <% end %>
      </dd>

      <dt>Price</dt>
      <dd><%= @listing.price %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
